<div class="modal-content">
  @if (data.title) {
    <div class="modal-header">
      <h5 class="modal-title">{{ data.title }}</h5>
    </div>
  }
  @if (data.message) {
    <div class="modal-body">
      <p>{{ data.message }}</p>
    </div>
  }
  <div class="modal-body">
    @for (option of data.options | keyvalue; track option.key) {
      <button type="button" class="btn btn-primary btn-block" (click)="submit(option.key)">
        {{ option.value }}
      </button>
    }
  </div>
  @if (data.cancel) {
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-block" (click)="cancel()">
        {{ data.cancel }}
      </button>
    </div>
  }
</div>
