<p-blockUI [blocked]="loading"></p-blockUI>

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Comandar - {{ table?.clave }}</h5>
  </div>
  <div class="modal-body">
    @if (products) {
      <div class="row">

        <div class="col-2">
          <label>Clasificación</label>
          <ul class="list-group">
            @for (class of products | groupBy : 'clasificacion'; track class.key) {
              <li class="list-group-item list-group-item-action"
                (click)="activeClass = class; activeGroup = undefined" [class.active]="activeClass == class">
                {{ class.key }}
              </li>
            }
          </ul>
        </div>

        <div class="col-2">
          <label>Grupo</label>
          <ul class="list-group">
            @for (group of activeClass?.value | groupBy : 'grupo'; track group.key) {
              <li class="list-group-item list-group-item-action" (click)="activeGroup = group"
                [class.active]="activeGroup == group">
                {{ group.key }}
              </li>
            }
          </ul>
        </div>

        <div class="col-4">
          <label>Producto</label>
          <ul class="list-group">
            @for (product of activeGroup?.value | orderBy : 'nombre'; track product.idpvPlatillos) {
              <li class="list-group-item list-group-item-action position-relative overflow-hidden"
                (click)="selectProduct(product)">
                <span [style.background-color]="product.color"
                  style="position: absolute; top: 0; height: 100%; left: 0; width: 12px;"></span>
                {{ product.nombre }}
              </li>
            }
          </ul>
        </div>

        <div class="col-4">
          <label>Comanda</label>
          <ul class="list-group">
            @for (order of orders; track $index) {
              <li class="list-group-item list-group-item-action" (click)="selectOrder(order)">
                <div class="d-flex align-items-center">
                  <strong class="pr-2">{{ order.cantidad }}</strong>
                  {{ order.nombre }}
                  <span class="flex-grow-1"></span>
                  <button type="button" class="btn btn-outline-danger btn-sm mdi mdi-delete"
                    (click)="removeOrder(order)"></button>
                </div>
              </li>
            }
          </ul>
        </div>

      </div>
    }
  </div>
  <div class="modal-footer">

    <div class="form-group m-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="button" class="btn" [ngClass]="form.controls.copy.value ? 'btn-primary' : 'btn-secondary'"
            (click)="form.controls.copy.setValue(!form.controls.copy.value)" [disabled]="form.controls.copy.disabled">
            Copia
          </button>
        </div>
        <select class="form-control" [formControl]="form.controls.printer"
          [class.is-invalid]="form.controls.printer.touched && form.controls.printer.invalid">
          @for (p of printers; track p.idgeneralImpresoras) {
            <option [value]="p.idgeneralImpresoras">{{ p.nombre }}</option>
          }
        </select>
      </div>
    </div>

    <div class="flex-grow-1"></div>
    <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="form.disabled">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.disabled">
      @if (form.disabled) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      Comandar
    </button>
  </div>
</div>
