<p-blockUI [blocked]="loading"></p-blockUI>

<div class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title">Cuenta - {{ data.table.clave }}</h5>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="form-row">

        <div class="form-group col-3">
          <label>Habitacion</label>
          <input class="form-control" formControlName="room"
            [class.is-invalid]="form.controls.room.touched && form.controls.room.invalid">
          <div class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>

        <div class="form-group col-6">
          <label>Nombre</label>
          <input class="form-control" formControlName="name"
            [class.is-invalid]="form.controls.name.touched && form.controls.name.invalid">
          <div class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>

        <div class="form-group col-3">
          <label>Credito</label>
          <input class="form-control" disabled [value]="bill?.credito | currency">
          <div class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>

        <div class="form-group col-6">
          <label>Mesero</label>
          <select class="form-control" formControlName="waiter"
            [class.is-invalid]="form.controls.waiter.touched && form.controls.waiter.invalid">
            @for (w of waiters; track w.idpvUsuarios) {
              <option [value]="w.idpvUsuarios">{{ w.nombre }}</option>
            }
          </select>
          <div class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>

        <div class="form-group col-3">
          <label>Adultos</label>
          <select class="form-control" formControlName="adults"
            [class.is-invalid]="form.controls.adults.touched && form.controls.adults.invalid">
            @for (n of [] | range : 10 : 0; track n) {
              <option [value]="n">{{ n }}</option>
            }
          </select>
          <div class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>

        <div class="form-group col-3">
          <label>Menores</label>
          <select class="form-control" formControlName="minors"
            [class.is-invalid]="form.controls.minors.touched && form.controls.minors.invalid">
            @for (n of [] | range : 10 : 0; track n) {
              <option [value]="n">{{ n }}</option>
            }
          </select>
          <div class="invalid-feedback">
            Campo obligatorio.
          </div>
        </div>

      </div>
    </form>

    <label>Comandas</label>
    <div class="table-responsive border rounded">
      <table class="table table-hover m-0">
        <thead>
          <tr>
            <th>Folio</th>
            <th>Cuenta</th>
            <th>Platillo</th>
            <th>Cantidad</th>
            <th class="text-right">Precio</th>
            <th class="text-right">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (command of bill?.comandas; track command.idpvComandas) {
            <tr>
              <th>{{ command.folio }}</th>
              <td>
                <div class="form-group m-0">
                  <select class="form-control-plaintext p-0" [ngModel]="command.cuenta"
                    (ngModelChange)="changeSub(command, $event)" [disabled]="form.disabled">
                    @for (n of [] | range : 5 : 1; track n) {
                      <option [value]="n">{{ n }}</option>
                    }
                  </select>
                </div>
              </td>
              <td>{{ command.platillo }}</td>
              <td class="text-right">{{ command.cantidad }}</td>
              <td class="text-right">{{ command.precio | currency }}</td>
              <td class="text-right">{{ command.total | currency }}</td>
              <td>
                @if (command.estatus) {
                  <button type="button" class="btn btn-outline-info btn-sm mdi mdi-printer" [disabled]="form.disabled"
                    (click)="printOrder(command)"></button>
                }
                @if (command.estatus && auth.user.permisos.cancelaciones) {
                  <button type="button" class="btn btn-outline-danger btn-sm mdi mdi-delete" [disabled]="form.disabled"
                    (click)="cancelCommand(command)"></button>
                }
              </td>
            </tr>
            @if (!command.estatus) {
              <tr class="text-danger">
                <th>{{ command.folio }}</th>
                <td>{{ command.cuenta }}</td>
                <td>{{ command.platillo }}</td>
                <td class="text-right">{{ -command.cantidad }}</td>
                <td class="text-right">{{ command.precio | currency }}</td>
                <td class="text-right">{{ -command.total | currency }}</td>
                <td></td>
              </tr>
            }
          }
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Subtotal</th>
            <th class="text-right">{{ bill?.total | currency }}</th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Creditos</th>
            <th class="text-right">{{ bill?.credito | currency }}</th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Descuentos</th>
            <th class="text-right">{{ bill?.descuentos | currency }}</th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Saldo</th>
            <th class="text-right">{{ bill?.credito - (bill?.total - bill?.descuentos)  | currency }}</th>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  <div class="modal-footer">
    @if (auth?.user?.permisos?.comandarotros || auth.user.idpvUsuarios == bill.idpvUsuarios) {
      <button type="button" class="btn btn-primary" (click)="order()" [disabled]="form.disabled">
        Comandar
      </button>
    }
    @if (auth?.user?.permisos?.cobrar) {
      <button type="button" class="btn btn-primary" (click)="pay()" [disabled]="form.disabled">
        Cobrar
      </button>
    }
    @if (auth?.user?.permisos?.imprimircheque) {
      <button type="button" class="btn btn-primary" (click)="printCheck()" [disabled]="form.disabled">
        Imprimir cheque
      </button>
    }
    @if (auth?.user?.permisos?.descuentos) {
      <button type="button" class="btn btn-primary" (click)="discount()" [disabled]="form.disabled">
        Descuento
      </button>
    }
    @if (auth?.user?.permisos?.cambiomesa) {
      <button type="button" class="btn btn-primary" (click)="changeTable()" [disabled]="form.disabled">
        Transferir
      </button>
    }
    <div class="flex-grow-1"></div>
    <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="form.disabled">
      Cerrar
    </button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.disabled">
      @if (form.disabled) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      Guardar
    </button>
  </div>
</div>
