<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Cobrar Cuenta - {{ data.table.clave }}</h5>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-form-label col-auto">Importe</label>
            <div class="col">
              <input class="form-control text-right" [value]="data.bill.total | currency" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-auto">Descuento</label>
            <div class="col">
              <input class="form-control text-right" [value]="(data.bill.descuentos || 0) | currency" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-auto">Propina</label>
            <div class="col">
              <input class="form-control text-right" [formControl]="tips" currencyMask appCursorEnd
                [class.is-invalid]="tips.touched && tips.invalid">
              <div class="invalid-feedback">
                Debe ser igual o mayor a 0
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-auto">Total</label>
            <div class="col">
              <input class="form-control text-right" [value]="total.value | currency" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-auto">Pago</label>
            <div class="col">
              <input class="form-control text-right" [value]="payment.value | currency" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-auto">Cambio</label>
            <div class="col">
              <input class="form-control text-right" [value]="change.value | currency" readonly>
            </div>
          </div>

          {{ form.errors | json }}
        </div>

        <div class="col-6">
          <div class="form-group row" *ngFor="let option of paymentOptions">
            <label class="col-form-label col-auto">{{ option.nombre }}</label>
            <div class="col">
              <div class="input-group">
                <input class="form-control text-right" [formControl]="payments.controls['' + option.idpvFormaPago]"
                  currencyMask appCursorEnd #control="ngForm"
                  [class.is-invalid]="control.form?.touched && control.form?.invalid">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary mdi mdi-minus" [disabled]="control.form?.disabled"
                    (click)="complete(control.form)">
                  </button>
                </div>
              </div>
              <div class="invalid-feedback">
                La cantidad debe ser igual o mayor a 0
              </div>
            </div>
          </div>

        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="form.disabled">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.disabled">
      <span class="spinner-border spinner-border-sm" *ngIf="form.disabled"></span>
      Cobrar
    </button>
  </div>
</div>
