<p-blockUI [blocked]="loading"></p-blockUI>

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{ data.area.nombre }}</h5>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-12">
          <label>Fondo de caja</label>
          <input class="form-control text-right" formControlName="funds" currencyMask appCursorEnd
            [class.is-invalid]="form.controls.funds.touched && form.controls.funds.invalid">
          <div class="invalid-feedback">
            {{
              form.controls.funds.errors && (
                (form.controls.funds.errors['required'] && 'Campo obligatorio.') ||
                (form.controls.funds.errors['min'] && 'Debe ser mayor o igual a 0.')
              )
            }}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="form.disabled">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.disabled">
      <span class="spinner-border spinner-border-sm" *ngIf="form.disabled"></span>
      Abrir caja
    </button>
  </div>
</div>
