<h2 mat-dialog-title>{{ data.area.nombre }}</h2>

<div mat-dialog-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>Fondo de caja</mat-label>
      <input matInput formControlName="funds" currencyMask appCursorEnd style="text-align: right;">
      @if (form.controls.funds.touched && form.controls.funds.errors) {
      <mat-error>
        {{
        (form.controls.funds.errors['required'] && 'Campo obligatorio.') ||
        (form.controls.funds.errors['min'] && 'Debe ser mayor o igual a 0.')
        }}
      </mat-error>
      }
    </mat-form-field>
  </form>
</div>

<mat-progress-bar [mode]="form.disabled ? 'indeterminate': 'determinate'"></mat-progress-bar>

<div mat-dialog-actions align="end">
  <button matButton (click)="cancel()" [disabled]="form.disabled">Cancelar</button>
  <button matButton="filled" (click)="submit()" [disabled]="form.disabled">
    Abrir caja
  </button>
</div>
