<p-blockUI [blocked]="loading"></p-blockUI>

<div class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title">Descuento - {{ data.table.clave }}</h5>
  </div>

  <div class="modal-body">
    <form (ngSubmit)="submit()" [formGroup]="form">
      <div class="form-group">
        <label>Tipo</label>
        <div class="btn-group d-flex">
          <button type="button" class="btn" [ngClass]="form.controls.type.value == 1 ? 'btn-primary' : 'btn-secondary'"
            (click)="form.controls.type.setValue(1)" [disabled]="form.controls.type.disabled">
            Porcentual
          </button>
          <button type="button" class="btn" [ngClass]="form.controls.type.value == 2 ? 'btn-primary' : 'btn-secondary'"
            (click)="form.controls.type.setValue(2)" [disabled]="form.controls.type.disabled">
            Directo
          </button>
        </div>
      </div>
      <div class="form-group">
        <label>Porcentaje</label>
        <input class="form-control text-right" [formControl]="form.controls.percentage" currencyMask appCursorEnd
          [class.is-invalid]="form.controls.percentage.touched && form.controls.percentage.invalid"
          [options]="{ prefix: '', suffix: ' %' }">
        <div class="invalid-feedback">
          Porcentaje invalido
        </div>
      </div>
      <div class="form-group">
        <label>Monto</label>
        <input class="form-control text-right" [formControl]="form.controls.amount" currencyMask appCursorEnd
          [class.is-invalid]="form.controls.amount.touched && form.controls.amount.invalid">
        <div class="invalid-feedback">
          Monto invalido
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="form.disabled">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.disabled">
      @if (form.disabled) {
        <span class="spinner-border spinner-border-sm"></span>
      }
      Aplicar
    </button>
  </div>
</div>
