<div class="container-fluid py-3 h-100">

  <div class="row h-100" *ngIf="area">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Cuentas
          </h5>
          <div class="input-group">
            <input class="form-control" placeholder="Buscar" [(ngModel)]="search">
            <div class="input-group-append">
              <span class="input-group-text mdi mdi-magnify"></span>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action d-flex flex-row" (click)="order(table)"
            *ngFor="let table of activeSection?.mesas | has : 'idpvVentas' | search : [['clave', search]] : [['mesero', search]]">
            <span style="flex-grow: 1">
              <strong>{{ table.clave }}</strong> {{ table.mesero }}
            </span>
            <span *ngIf="table.habitacion">
              <span class="badge badge-success badge-pill">{{ table.habitacion }}</span>
            </span>
            <span>
              <span class="badge badge-primary badge-pill">{{ table.total | currency}}</span>
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-9">

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Mesas
          </h5>
          <ul class="nav nav-tabs nav-fill card-header-tabs">
            <li class="nav-item" *ngFor="let section of area.secciones" (click)="activeSection = section">
              <span class="nav-link" [class.active]="activeSection == section">
                {{ section.nombre }}
                <span class="badge badge-primary badge-pill">{{ (section.mesas | has : 'idpvVentas').length }}</span>
                </span>
            </li>
          </ul>
        </div>
        <div class="card-body p-1">
          <div class=" embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item" #box *ngIf="activeSection">
              <div class="position-absolute p-1" [ngDraggable]="auth.user?.admin" [bounds]="box" [inBounds]="true"
                [preventDefaultEvent]="true" *ngFor="let table of activeSection.mesas; trackBy: trackTable"
                [gridSize]="box.clientWidth / (activeSection.proporcion * 2)"
                [position]="{ x: table.coordX / 100 * box.clientWidth, y: table.coordY / 100 * box.clientWidth }"
                [style.height.px]="box.clientWidth / activeSection.proporcion"
                [style.width.px]="box.clientWidth / activeSection.proporcion"
                (endOffset)="table.coordX = $event.x * 100 / box.clientWidth; table.coordY = $event.y * 100 / box.clientWidth">
                <button type="button" class="btn w-100 h-100"
                  [ngClass]="table.idpvVentas ? 'btn-primary' : 'btn-secondary'" (click)="selectTable(table)">
                  {{ table.clave }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="auth.user?.admin">
          <button class="btn btn-primary" (click)="updateArea()">Guardar</button>
          <button class="btn btn-primary" (click)="addTable()">Agregar mesa</button>
          <button class="btn btn-primary" (click)="addSection()">Agregar seccion</button>
          <input type="range" min="10" max="30" step="1" *ngIf="activeSection" [(ngModel)]="activeSection.proporcion">
        </div>
      </div>
    </div>
  </div>
</div>

