<h2 mat-dialog-title>Login</h2>

<div mat-dialog-content [inert]="loading">
  <form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">
    <mat-form-field style="width: 100%;">
      <mat-label>Clave</mat-label>
      <input #input matInput placeholder="*****" type="password" formControlName="pass">
      @if (data?.msg) {
        <mat-hint>{{ data.msg }}</mat-hint>
      }
      @if (form.controls.pass.touched && form.controls.pass.errors) {
        <mat-error>
          {{
            (form.controls.pass.errors['auth']) ||
            (form.controls.pass.errors['required'] && 'Campo obligatorio.')
          }}
        </mat-error>
      }
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end" [inert]="loading">
  @if (data?.cancelable) {
    <button mat-button (click)="cancel()">
      Cancelar
    </button>
  }
  <button mat-flat-button color="primary" (click)="submit()">
    @if (loading) {
      <mat-spinner diameter="20" style="display: inline-block; margin-right: 8px;"></mat-spinner>
    }
    Entrar
  </button>
</div>
